.About{
    display: flex;
    justify-content: center;
}

.About_Content{
    position: absolute;
    display: flex;
}

.AboutBanner{
    width: 100%;
    height: 20vh;
    background-color: black;
}