@font-face{
  font-family:Noto;
  font-style: normal;
  src: url('../font/NotoSansKR-Regular.otf') format('opentype');
}

.section{
    
    font-family: Noto;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
/*     flex-wrap: wrap;
    margin: 10%;
    justify-content: flex-start; */
    font-size: 1.1vmax;

}

.postTitle{
    text-align: center;
    font-weight: bold;

    font-size: 3vmax;
}

.postNav{
    margin: 10%;
}

.Fetured{
    font-weight: bold;
    font-size: large;
    &>div{
        font-weight: lighter;
    }
}