.section{
    
    display: block;
    margin: 10%;
/*     flex-wrap: wrap;
    margin: 10%;
    justify-content: flex-start; */
}

.postTitle{
    text-align: center;
    font-weight: bold;

    font-size: 5vmax;
}

.postNav{
    margin: 10%;
}