@font-face{
    font-family: Gothic;
    font-style: normal;
    src: url('../font//GothicA1-Medium.ttf') format('truetype');
}
.Main{
    font-family: Gothic;
    width: 100%;
    /* background-color: #191b1f */

    
}